.werewolves_phase
  %div
    - if @game.players.werewolf.first == @player # TODO and alive == true
      Pick your target!
      - @game.players.reject{|p| p.role == "werewolf"}.each do |player|
        .vote.button
          = player.name
    - else
      Pick your target!
