-# Some data required by javascript
#player_id{"player_id": @player.id}

.header
  .wrapper
    .header_content
      = render "header_content", locals: {game: @game, player: @player}

.fake_header_border

.wrapper
  .phase_content
    = @player.render_current_phase_view
