-# Some data required by javascript
#player_id{"player_id": @player.id}

.header
  .wrapper
    .title
      Werewolves

    .header_content
.fake_header_border

.wrapper
  .phase_content
    = render @game.current_view(@player), locals: {game: @game, player: @player}
