.mayor_phase
  .choose_stage
    Who is voted mayor?
    - @game.players.where(alive: true).each do |player|
      .vote.button{player_id: player.id}
        = player.name
    .vote.button{player_id: "tied"}
      Tied vote

  .confirm_stage
    You are about to make
    %span.target_name
    mayor.
    .comfirm.button
      Ok
    .cancel.button
      Cancel
