$primary-color: #d34a3b;
$darker-color: #90483d;
$darker-highlight-color: #592d28;

body {
  background-color: $primary-color;
}

.header {
  background-color: $darker-color;
  height: fit-content;
  min-height: 4vh;

  .wrapper {
    width: 90%;
    margin: 0 auto;
    font-size: 12vw;

    * {
      width: fit-content;
      margin: 0 auto;
    }

    .header_content {
      .role_peak {
        font-size: 8vw;
        display: none;
      }
    }
  }
}

.fake_header_border {
  background-color: $darker-highlight-color;
  height: 1%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;

  .phase_content {
    font-size: 9vw;

    * {
      width: fit-content;
      margin: 0 auto;
    }
  }
}

.button {
  background-color: $darker-color;
  padding: 0.5rem 1rem;
  border-radius: 0.5em;

  &:active {
    background-color: $darker-highlight-color;
  }
}
